label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

.body {
    display:block;
    margin:0 auto;
    width:576px;
}

/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
}

/* Style the text boxes */
input, textarea {
	width:439px;
	height:27px;
	background:#fff; /*efefef*/
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#000; /*3a3a3a*/
}

input:focus,
textarea:focus {
  border:1px solid #6b6a76;
}

#thename {
  background:url(img/hawaii_sm1.jpg) right no-repeat #fff;
}

#theemail {
  background:url(img/hawaii_sm2.jpg) right no-repeat #fff;
}

textarea {
	height:213px;
	background:url(img/hawaii.jpg) right no-repeat #fff;
}

#submit {
  width:462px;
  height:38px;
  background-color:#6c6a75;
  color: #fff;
  border:none;
  margin-top:20px;
  cursor:pointer;
}

#submit:hover {
  border:1px solid #fff;
}
